.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    mat-card {
        height: 360px;
        width: 400px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        mat-card-header {
            display: flex;
            justify-content: center;
        }
        mat-card-content {
            form {
                display: flex;
                flex-direction: column;
                gap: 10px;

                button {
                    border-radius: 4px;
                }
            }
        }
    }
}