// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "./assets/colors.scss" as colors;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@include mat.core();

html {
  color-scheme: light dark;
  @include mat.theme((color: (
        primary: mat.$azure-palette,
        tertiary: mat.$cyan-palette
      ),
      typography: Roboto,
      density: 0,
    ));
};

body {
  background-color: colors.$background;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}